<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-regular fa-compass text-primary fs-4 me-2"></i>
      <span class="fw-bold">Waybnb</span>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left Nav -->
      <div class="navbar-nav me-auto text-center">
        <a class="nav-link px-3" href="/listings">
          <i class="fa-solid fa-house me-1 text-secondary"></i> Explore
        </a>
        <a class="nav-link px-3" href="/listings/new">
          <i class="fa-solid fa-plus me-1 text-success"></i> Add Listing
        </a>
      </div>

      <!-- Right Nav -->
      <div class="navbar-nav ms-auto text-center">
        <% if(!currUser) { %>
          <a class="btn btn-outline-primary my-2 mx-lg-2 w-100 w-lg-auto" href="/signup">
            <i class="fa-solid fa-user-plus me-1"></i> Sign Up
          </a>
          <a class="btn btn-primary my-2 w-100 w-lg-auto" href="/login">
            <i class="fa-solid fa-right-to-bracket me-1"></i> Log In
          </a>
          <% } %>

            <% if(currUser) { %>
              <!-- User Dropdown -->
              <div class="nav-item dropdown text-center">
                <a class="nav-link dropdown-toggle d-flex justify-content-center align-items-center" href="#"
                  id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-circle-user fs-5 text-primary me-1"></i>
                  <span>
                    <%= currUser.username %>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow-sm text-center" aria-labelledby="userDropdown">

                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item text-danger" href="/logout"><i
                        class="fa-solid fa-right-from-bracket me-2"></i> Log Out</a></li>
                </ul>
              </div>
              <% } %>
      </div>
    </div>
  </div>
</nav>