<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-danger text-center shadow-sm" role="alert">
          <h4 class="alert-heading mb-0"><%= message %></h4>
        </div>
      </div>
    </div>
  </div>
</body>
