<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="container my-5">
    <h4 class="text-center mb-4">Login to Waybnb</h4>

    <form action="/login" method="post" class="card p-4 shadow-sm">

      <div class="mb-3">
        Usename :
        <input type="text" 
               name="username" 
               placeholder="enter your username" 
               class="form-control">
      </div>

      <div class="mb-3">
        Password :
        <input type="password" 
               name="password" 
               placeholder="enter your password" 
               class="form-control">
      </div>

      <button class="btn btn-primary w-100">Log in</button>
    </form>
  </div>
</body>
